/* /* *{
    margin: 0!important;
    padding: 0 !important;
}
/* dismissable alert */
/* #dalert{
    text-align: center;
} */
/*header*/
/*logo*/
/* .logo{
    height: 100px;
    width: 100px;
    margin: 5px 0 5px 10px;
} */

/* navbar */ */
/* .navbar-nav{
    display: flex;
    flex-direction: row;
}
.nav-item{
    margin-right:15px;
}
.nav-link{
    color: aliceblue; */

/* }
.login,.register{
    background-color: aliceblue;
    color: black;
    border-radius: 5%;
    font-weight: bolder; */
/* } */ */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* disable alert */

  .disability-alert {
    /* background-color: #d400ff; Blue color */
    background-color: #04AA6D;
    color: #f0e3e3;
    text-align: center;
    padding: 10px;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: medium;
  }
  
  body {
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }


  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
    color: #ffffff;
  }
  strong{
    color: rgb(140, 42, 165);
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  .services:hover .dropdown {
    display: block;
  }


  


