body {
    font-family: Arial, sans-serif;
    background-color:#e3fafb;
}
.alt{
    background-color: #aeb4f5;
}
.course-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.course-card:hover {
            transform: translateY(-5px);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        }
        .course-card img {
            max-width: 100%;
            border-radius: 6px;
        }
        .course-title {
            font-size: 1.25rem;
            margin: 10px 0;
            color: #333;
        }
        .course-description {
            color: #777;
        }
        .faculty-name {
            color: #888;
            margin-bottom: 5px;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }
        .btn-primary {
            background-color: #ff6b6b;
            border-color: #ff6b6b;
        }
.btn-primary:hover {
    background-color: #ff7465;
    border-color: #ff7465;
}
h2 {
    color: #333;
    margin-bottom: 20px;
}
